/* BASE, EVERYTHING */

:root {
  --background: #0e372e;
  --foreground: #3bb6ff;
  --primary: #3acda8;
  --dark-green: #0e372e;
  --middle-green: #185d4e;
  --light-blue: #3bb6ff;
  --light-green: #3acda8;
  --shadow: 1px 1px 2px black;
  --shadow-big: 2px 2px 4px black;
  --stripes: repeating-linear-gradient(
    135deg,
    #3acda880,
    #3acda880 1px,
    transparent 1px,
    transparent 13px
  );
  --letter-space: 0.06rem;
  --hover: background-color 0.3s ease-in-out;
}

.buttonBlue {
  transition: background-color 140ms;
  &:hover {
    background-color: lighten(#3bb6ff, 20%) !important;
    // transparentize(rgba(#036, 0.3), 0.3);
  }
}

.buttonGreen {
  transition: background-color 140ms;
  background-color: #185d4e;
  &:hover {
    background-color: lighten(#185d4e, 30%) !important;
    // transparentize(rgba(#036, 0.3), 0.3);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: var(--font-ddin);
}

html,
body {
  font-family: var(--font-ddin);
}

body {
  color: white;
  font-size: 1rem;
  background: var(--background);
  font-family: var(--font-ddin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 30px;
  line-height: 2rem;
  font-size: 1.4rem;
}

h1,
h2 {
  font-family: var(--font-grotesk-gras);
}

h3 {
  letter-spacing: 0.06rem;
  font-family: var(--font-ddin);
}

h1 {
  text-transform: uppercase;
  color: white;
  font-size: 8rem;
}

h2 {
  font-size: 3rem;
}

.container {
  display: grid;
  gap: 0px;
  grid-template-areas:
    'header'
    'content'
    'footer';
  /* height: 100%; */
}

.content {
  grid-area: content;
  margin: 50px 0px 0px 0px;

  min-height: 76vh;
}

.subGrid {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  display: grid;
  grid-template-areas: 'inside';
  margin-bottom: 70px;
}

.subGridSingleVirus {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  display: grid;
  grid-template-areas: 'inside';
  overflow: hidden;
  position: relative;
  /* padding-bottom: 70px; */
}

.inside {
  grid-area: inside;
  /* grid-column: 2 / 3; */
}

.header {
  grid-area: header;
}

/* HEADER */

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;

  nav {
    display: flex;
    flex-direction: list;
    background-color: blue;
    gap: 40px;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    padding: 20px 30px 20px 30px;
    color: white;
    border-bottom: solid var(--primary);
    border-right: solid var(--primary);
  }

  a h2 {
    display: flex;
    color: #0e372e;
    font-size: 1.6rem;
    background-color: #3acda8;
    border-bottom: solid var(--primary);
    border-right: solid var(--primary);
    font-family: var(--font-grotesk-gras);
    font-weight: 900;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px 20px 0px 20px;
    line-height: 3.2rem;
    text-transform: lowercase;
    letter-spacing: 0.3rem;
    height: 100%;
  }

  Image {
    float: right;
    display: flex;
    flex-flow: column;
  }
}

/* LANDING PAGE */

.start {
  img {
    position: absolute;
    z-index: 1;
    top: 16vh;
    left: 23.6vw;
    width: 27vw;
  }

  .text {
    /* position: absolute; */
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-height: 24vh; */
    margin-bottom: 17vh;
    /* text-shadow: var(--shadow); */
  }

  h1 {
    align-self: center;
    font-size: 26vw;
    line-height: 12vw;
    z-index: -1;
    color: #3acda8;
    /* color: white; */
    text-transform: lowercase;
  }

  h2 {
    font-family: var(--font-grotesk-mince);
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3.7vw;
    margin-top: 9vh;
    text-align: right;
    position: relative;
    z-index: -1;
    right: 18.5vw;
    color: white;
    /* color: #3acda8; */
    /* color: var(--light-blue); */
  }
}

.featured {
  /* background-color: var(--light-blue); */
  /* text-align: center; */
  background-image: repeating-linear-gradient(
    135deg,
    #3acda880,
    #3acda880 1px,
    transparent 1px,
    transparent 13px
  );
  padding-top: 15px;

  h2 {
    /* color: var(--light-green); */
    font-size: 2.5vw;
    line-height: 2.5vw;
    margin: 0px 0px 0px 50px;
    padding: 3px;
    /* padding: 20px 0px 0px 30px; */
    /* margin: 50px 50px 0px 0px; */
    text-transform: uppercase;
    font-family: var(--font-ddin);
    letter-spacing: 0.2rem;
    background-color: var(--dark-green);
    width: max-content;
    /* text-shadow: var(--shadow); */
    /* transform-origin: 10vw 8vh;
    transform: rotate(-45deg); */
  }
}

.featuredGrid {
  display: grid;
  gap: 100px;
  padding: 20px 80px 50px 80px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));

  .featuredItem {
    /* background-color: var(--light-blue); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 400px; */
    aspect-ratio: 1/1;
    text-align: center;
    vertical-align: middle;

    h3 {
      color: white;
      font-size: 4vw;
      /* line-height: 4vw; */
      /* border-radius: 10px; */
      /* padding: 0px 6px 6px 6px; */
      font-family: var(--font-grotesk-gras);
      /* background-color: rgba(0, 0, 0, 0.4); */
      text-shadow: var(--shadow);
    }
    img {
      /* margin: 10px 20px; */
      width: 100%;
      /* position: absolute; */
    }
  }
}

.newArrivals {
  /* margin-top: 70px; */
  /* text-align: center; */

  h3 {
    font-family: var(--font-grotesk-regular);
    font-weight: 300;
    color: white;
    font-size: 1.8rem;
  }

  h2 {
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: var(--font-ddin);
    letter-spacing: 0.2rem;
  }
}

.newViruses {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

/* NEWS BLOCK */

.news {
  /* padding: 20px; */
  margin-top: 70px;
  h2 {
    color: var(--light-green);
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: var(--font-ddin);
    letter-spacing: 0.2rem;
    background-color: var(--dark-green);
  }

  .newsItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;

    div {
      /* aspect-ratio: 3/2; */

      .itemContent {
        padding: 15px 20px 25px 20px;
        border-radius: 0px 0px 30px 30px;
        background-color: var(--middle-green);

        h3 {
          /* font-family: var(--font-grotesk-gras); */
          font-family: var(--font-ddin-bold);
          font-weight: bold;
          font-size: 1.6rem;
          /* padding: 10px 20px; */
          line-height: 2.6rem;
          /* text-transform: uppercase; */
          /* font-variant: small-caps; */
        }

        h4 {
          margin-top: 10px;
          letter-spacing: 0.06rem;
        }
      }

      .itemImage {
        background-repeat: none;
        aspect-ratio: 3/2;
        background-size: cover;
        position: relative;
        background-position: 50%;
        border-radius: 0px 0px 0px 0px;

        span {
          right: 0;
          position: absolute;
          background-color: blue;
          /* color: var(--light-blue); */
          color: white;
          padding: 10px 20px;
          text-transform: uppercase;
          font-family: var(--font-ddin-bold);
          letter-spacing: 0.04rem;
          /* border-radius: 0px 30px 0px 0px; */
        }
      }

      img {
        width: 100%;
        border-radius: 30px;
      }
    }
  }
}

/* SINGLE VIRUS PAGE */

.bigImage {
  z-index: -1;
  position: absolute;
  width: 100vw;
  opacity: 0.5;
  left: 0;
  top: 0;
  padding: 0px 50px;
}

.singleVirusPage {
  /* overflow: hidden; */
  position: relative;
  min-height: 100vh;

  /* .content {
    position: relative;
  } */

  .hideOverflow {
    overflow: hidden;
  }

  .addToCart {
    border-radius: 10px;
    border: 1px var(--light-green) solid;
    width: 100%;
    font-family: var(--font-ddin);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: var(--dark-green);
    background-color: var(--light-blue);
    margin-top: 10px;
  }

  .cartQuantity {
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: flex-start;
    align-items: flex-start;
    border: var(--light-green) solid 1px;
    font-family: var(--font-ddin);

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }

    input {
      width: 100px;
      height: 100px;
      padding: 0;
      margin: 0;
      border-radius: 0px;
      border: none;
      text-align: center;
      background-color: var(--dark-green);
      font-family: var(--font-ddin);
      font-size: 2.2rem;
    }

    button {
      background-color: var(--light-green);
      border: none;
      height: 100px;
      width: 100px;
      padding: 0;
      margin: 0;

      font-family: var(--font-ddin);
      font-size: 3rem;
      color: var(--dark-green);
    }
  }

  .classification {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    div {
      font-size: 1rem;
      text-transform: uppercase;
      color: white;
      border: 1px white solid;
      /* border: */
      padding: 5px 10px;
      border-radius: 10px;
      background-color: var(--background);
      line-height: 2rem;
      letter-spacing: 0.06rem;

      span {
        /* background-color: var(--light-green); */
        /* color: var(--dark-green); */
        color: var(--light-blue);

        margin-left: 5px;
        font-size: 1rem;
        text-transform: capitalize;
      }
    }
  }

  h1 {
    font-family: var(--font-grotesk-gras);
    text-transform: uppercase;
    font-size: 12vw;
    max-width: 100%;
    line-height: 12vw;
    position: relative;
    z-index: -1;
    color: white;
    top: 0;
    /* text-shadow: var(--shadow); */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.3);
  }

  h2 {
    /* color: var(--light-green); */
    color: white;
    font-family: var(--font-ddin);
    letter-spacing: 0.2rem;
  }

  .virusData {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
  }

  .buy {
  }

  .price {
    text-transform: uppercase;
    font-size: 5.2vw;
    color: white;
    /* text-shadow: var(--shadow); */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.3);
  }

  .quantity {
    input {
      width: 100px;
      height: 100px;
      text-align: center;
    }
  }

  form {
    font-family: var(--font-ddin);

    .control {
      margin-right: 25px;
      display: flex;
      align-items: center;
    }
    .qty-button {
      height: 50px;
      width: 50px;
      background: #fff;
      color: #001422;
      font-size: 30px;
      font-weight: 300;
      border-top: 1px solid #c2c2c2;
      border-bottom: 1px solid #c2c2c2;
    }
    .qty {
      height: 50px;
      width: 50px;
      text-align: center;
      font-size: 2rem;
    }
  }

  .virusDesc {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border: 1px solid var(--primary);
    border-radius: 1rem;
    width: 50%;
  }

  img {
    width: 60%;
    float: none;
    margin: auto;
    padding: auto;
    text-align: center;
  }
}

/* .home {
  display: flex;
} */

.headerLogo {
  h2 {
    position: fixed;
    color: #3acda8;
    text-transform: uppercase;
    top: 30px;
    right: 68px;
    height: 300px;
    span {
      text-transform: capitalize;
    }
  }

  img {
    position: fixed;
    top: -115px;
    right: 50px;
    height: 350px;
    z-index: -1;
    opacity: 0.6;
  }
}

/* PRODUCTS PAGE */

.virusProductsList {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* @keyframes move {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
} */

/* .virusItem:hover {
  animation: move 0.5s ease-in;
} */

.virusItem {
  border-radius: 30px;
  /* width: 22vw; */
  /* width: 30%; */
  /* flex-basis: auto; */
  background-color: #185d4e;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 4;
  transition: background-color 100ms;
  &:hover {
    background-color: lighten(#185d4e, 8);
  }
  /* transition: var(--hover); */

  h2 {
    font-family: var(--font-grotesk-regular);
    font-weight: 300;
    color: white;
    font-size: 2.8rem;
  }

  h3 {
    letter-spacing: 0.06rem;
  }

  img {
    margin: 10px 20px;
  }

  .itemPrice {
    font-family: var(--font-ddin);
    color: var(--light-green);
    font-size: 2rem;
    border-top: 1px solid var(--light-green);
    margin: 10px auto 0px;
    padding: 10px 0px 0px 0px;
  }
}

/* .virusItem:hover {
  background-color: red;
} */

.threeOneGrid {
  display: grid;
  grid-template-columns: 3fr 20px 1fr;
  grid-column-gap: 10px;
}

.threeGrid {
  grid-column-start: 1;
  grid-column-end: 1;
}

.oneGrid {
  grid-column-start: 3;
  grid-column-end: 3;
  align-self: start;
}

.orderSummary {
  border-radius: 30px;
  background-color: #185d4e;
  border: 1px var(--light-green) solid;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;

  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2.4rem;
    justify-self: flex-start;
    margin-bottom: 40px;
  }

  .total {
    display: flex;
    justify-self: start;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    h3 {
      font-family: var(--font-grotesk-regular);
      text-transform: uppercase;
      color: var(--light-green);
      font-size: 1.6rem;
    }

    .amount {
      color: white;
      font-family: var(--font-ddin);
      font-size: 2rem;
    }
  }

  form {
    align-self: flex-end;
    width: 100%;

    button {
      border-radius: 10px;
      border: 1px var(--light-green) solid;
      width: 100%;
      font-family: var(--font-ddin);
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 900;
      letter-spacing: 0.1rem;
      color: var(--dark-green);
      background-color: var(--light-blue);
      margin-top: 10px;
    }
  }

  h3 {
    font-size: 2rem;
  }

  span {
    color: white;
  }
}

/* CART PAGE */

.cart {
  font-family: var(--font-ddin);
  border-top: solid #3acda8 1px;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  box-sizing: content-box;
  gap: 20px;

  .info {
    span {
      color: white;
    }
  }
}

.cartQuantity {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: flex-start;
  align-items: flex-start;
  border: var(--light-green) solid 1px;
  font-family: var(--font-ddin);

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    border: none;
    text-align: center;
    background-color: var(--dark-green);
    /* color: var(--light-green); */
    color: white;
    font-weight: bold;
    font-family: var(--font-ddin);
    font-size: 1.2rem;
  }

  button {
    background-color: var(--middle-green);
    border: none;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;

    font-family: var(--font-ddin);
    font-size: 2rem;
    color: var(--dark-green);
  }
}

button {
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 10px 10px;
  border-bottom: solid #3acda8 1px;
  gap: 40px;

  img {
    height: 200px;
    width: 200px;
  }

  .virusName {
    width: 300px;

    h2 {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 2.4rem;
      text-transform: uppercase;
    }
  }

  h2 {
    color: var(--light-green);
  }

  .subtotal {
    font-family: var(--font-ddin);
    color: white;
    font-size: 2.4rem;
    margin-left: 40px;
    justify-self: 'start';
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 6px;
    color: var(--light-green);
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-family: var(--font-grotesk-regular);
  }

  .cartItemQuantity {
    margin-left: 20px;
  }

  .remove {
    border: none;
    width: 100%;
    font-family: var(--font-ddin);
    font-weight: 900;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    background-color: var(--light-blue);
    color: var(--dark-green);
    text-transform: uppercase;
  }
}

/* CHECKOUT PAGE */

.customerInfo {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  gap: 0px;
  border: 1px var(--light-green) solid;
  border-radius: 30px;
  /* background-image: var(--stripes); */

  section {
    border-bottom: 1px var(--light-green) solid;
    padding: 10px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  section:first-child {
    padding-top: 20px;
  }

  section:last-child {
    border: none;
    background-color: var(--light-blue);
    padding: 0;
    margin: 0;
    gap: 0px;
    border-radius: 0px 0px 30px 30px;
  }

  h2 {
    color: var(--light-green);
    font-size: 2rem;
    text-transform: uppercase;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 46%;
    letter-spacing: 0.06rem;
    margin-left: 20px;
  }

  input::placeholder {
    font-weight: bold;
    opacity: 0.6;
    /* color: var(--dark-green); */
    color: white;
  }

  input {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5px;
    background-color: var(--middle-green);
    color: white;
    letter-spacing: 0.06rem;
    border: 1px var(--light-green) solid;
  }

  select {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5px;
    background-color: var(--middle-green);
    color: white;
    letter-spacing: 0.06rem;
    border: 1px var(--light-green) solid;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .fitTwo {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .confirmButton {
    /* width: 100%; */
    /* border-radius: 100px; */
    background-color: transparent;
    border: none;
    /* position: absolute; */
    /* height: 50px; */
    /* bottom: 0; */
    /* margin: 0; */
    padding: 5px;
    font-weight: bold;
    color: var(--dark-green);
    letter-spacing: 0.06rem;
    border-radius: 0px 0px 30px 30px;
    font-size: 2rem;
    font-family: var(--font-ddin-bold);
    text-transform: uppercase;
  }
}

.checkoutCart {
  border-radius: 30px;
  border: 1px var(--light-green) solid;

  .checkoutCartList {
    padding: 20px;
    display: grid;
    gap: 20px;
  }

  .checkoutCartItem {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: auto;
    gap: 0px;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* padding: 0px 20px; */
    /* padding: 20px 20px; */

    .info {
      /* justify-self: end; */
      margin-left: 10px;

      h2 {
        font-size: 1.2rem;
      }
    }
    .subtotal {
      justify-self: end;
    }

    img {
      width: 90px;
      /* margin-right: 70px; */
    }
  }

  .number {
    border-bottom: 1px var(--light-green) solid;
    padding: 30px;
  }

  .total {
    border-top: 1px var(--light-green) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    background-color: #185d4e;
    border-radius: 0px 0px 30px 30px;
    text-transform: uppercase;
    /* letter-spacing: 0.03rem; */
    letter-spacing: var(--letter-space);
  }
}

/* FOOTER */

.footer {
  grid-area: footer;
  /* background-color: blue; */
  /* background-image: var(--stripes); */
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid var(--light-green);
  display: grid;
  gap: 30px;
  /* grid-template-columns: repeat(auto-fill, minmax(23vw, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 2fr;
  align-self: end;
  /* justify-content: space-around; */
  justify-items: center;
  /* padding: 20px 0px; */
  /* position: sticky; */
  bottom: 0;
  left: 0;
  width: 100%;
  /* grid-row-start: 3;
  grid-row-end: 4; */
  padding: 20px 0px 50px 0px;

  div {
    /* background-color: rgba(0, 0, 0, 1); */
    /* border-bottom: 1px solid var(--light-green);
    border-right: 1px solid var(--light-green); */
    /* border-radius: 30px; */
    padding: 20px;
    /* text-shadow: var(--shadow-big); */
  }

  h3 {
    font-size: 1.4rem;
    font-family: var(--font-grotesk-gras);
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
    /* border-bottom: 1px white solid; */
  }

  ul {
    color: var(--light-green);
    list-style: none;
  }

  li {
    margin-bottom: 10px;
    /* background-color: var(--dark-green); */
  }
}

.newsletter {
  /* margin-top: 20px; */

  label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 46%; */
    letter-spacing: 0.06rem;
    /* margin-left: 20px; */
  }

  input::placeholder {
    font-weight: bold;
    opacity: 0.6;
    /* color: var(--dark-green); */
    color: white;
  }

  input {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    /* margin-top: 5px; */
    background-color: var(--middle-green);
    color: white;
    letter-spacing: 0.06rem;
    border: 1px var(--light-green) solid;
    height: 40px;
    width: 220px;
  }

  button {
    border-radius: 10px;
    border: 1px var(--light-green) solid;
    /* width: 100%; */
    font-family: var(--font-ddin-bold);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: var(--dark-green);
    background-color: var(--light-blue);
    /* margin-top: 10px; */
    height: 40px;
    margin: 0;
    padding: 10px 15px;
  }
}

/* MEDIA QUERIES */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'header header header'
      'content content content'
      '. main .'
      'footer footer footer';
  }

  .subGrid {
    grid-template-columns: 1fr 14fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: '. inside .';
  }
  .subGridSingleVirus {
    grid-template-columns: 1fr 14fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: '. inside .';
  }

  /* .main {
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'header header header'
      'content content content'
      '. main .'
      'footer footer footer';
  } */

  /* .main {
    grid-column-start: 2;
    grid-column-end: 3;
  } */
}
