:root {
  --background: #0e372e;
  --foreground: #3bb6ff;
  --primary: #3acda8;
  --dark-green: #0e372e;
  --lightblue: #3bb6ff;
  --light-green: #3acda8;
  --heavy-font: var(--font-grotesk-mince);
  --regular-font: 
;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* display: flex; */
  /* padding: 20px; */
  font-size: 1rem;
}

main {
  /* padding: 20px; */
  margin: auto;
  max-width: 1400px;
  margin-top: 60px;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-ddin);
  /* line-height: 2rem; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  position: sticky;
  z-index: 100;
  background-image: repeating-linear-gradient(
    135deg,
    #3acda880,
    #3acda880 1px,
    transparent 1px,
    transparent 13px
  );

  nav {
    display: flex;
    flex-direction: list;
    /* align-self: flex-start; */
    /* background-color: #3acda8; */
    background-color: blue;
    /* flex-wrap: nowrap; */
    gap: 40px;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    padding: 20px 30px 20px 30px;
    /* color: white; */
    /* color: #0e372e; */
    color: white;
    border-bottom: solid var(--primary);
    border-right: solid var(--primary);
    /* margin-left: auto; */
    /* border-radius: 0 0 0 0.5rem; */

    span {
      /* text-transform: capitalize; */
    }
  }

  a h2 {
    display: flex;
    color: #0e372e;
    font-size: 1.6rem;
    background-color: #3acda8;
    border-bottom: solid var(--primary);
    border-right: solid var(--primary);
    font-family: var(--font-grotesk-gras);
    font-weight: 900;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px 20px 0px 20px;
    line-height: 3.2rem;
    text-transform: lowercase;
    letter-spacing: 0.3rem;
    height: 100%;
  }

  Image {
    float: right;
    display: flex;
    flex-flow: column;
  }
}

.homePage {
  /* display: flex; */
  img {
    position: absolute;
    z-index: 1;
    /* max-height: 100%; */
    /* height: 1300px; */
    /* padding-top: 110px; */
    /* padding: 140px 0px 0px 0px; */
    /* opacity: 0.5; */
    /* max-height: 700px; */
    top: 15vh;
    left: 10.5vw;
    /* width: 58%; */
    width: 53vw;
  }

  .text {
    position: absolute;
    left: 0px;
    /* top: 20px;
    max-width: 100%;
    margin: auto; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: black; */
  }

  h1 {
    /* font-size: 28rem; */
    align-self: center;
    font-size: 28vw;
    line-height: 24vw;
    /* max-width: 100%; */
    /* position: absolute; */
    /* margin: auto; */
    z-index: -1;
    color: #3acda8;
    /* left: 20px; */
    /* padding: 50px; */
    /* top: 20px; */
    /* width: 100vw; */
    text-transform: lowercase;
    /* color: white; */
    /* padding-top: 0px;
    padding-left: 10px; */
    /* margin-top: 140px; */
  }

  h2 {
    font-family: var(--font-grotesk-mince);
    text-transform: uppercase;
    /* font-size: 5rem; */
    font-size: 3.7vw;
    margin-top: 9vh;
    text-align: right;
    position: relative;
    z-index: -1;
    right: 15vw;
    /* color: #3acda8; */
    color: white;
    /* padding-top: 0px; */
    /* right: 0; */
    /* padding-right: 150px; */
    /* margin-top: 140px; */
  }
}

.singleVirusPage {
  .content {
    position: relative;
  }

  h1 {
    font-family: var(--font-grotesk-gras);
    line-height: 12rem;
    text-transform: uppercase;
    /* font-size: 14rem; */
    font-size: 13vw;
    line-height: 13vw;
    position: relative;
    z-index: -1;
    /* color: #3acda8; */
    color: white;
    /* padding-top: 0px; */
    top: 0;
    /* max-width: 80%; */
  }

  .bigImage {
    /* max-height: 100vh; */
    z-index: -1;
    position: absolute;
    width: 100vw;
    opacity: 0.5;
    left: 0;
    /* margin-top: 100px; */
    top: 0;
    padding: 50px;
  }

  .virusData {
    display: flex;
    /* flex-direction: row; */
    gap: 30px;
    margin-top: 30px;
  }

  .buy {
    /* right: auto; */
    /* position: absolute; */
    /* top: 20px;
    right: 0; */
    /* width: 20%; */
    /* max-width: 20%; */
  }

  .price {
    /* font-family: var(--font-grotesk-mince); */
    text-transform: uppercase;
    font-size: 7rem;
    /* position: relative; */
    /* z-index: -1; */
    color: white;
    /* padding-top: 0px; */
  }

  .quantity {
    input {
      width: 100px;
      height: 100px;
      text-align: center;
    }
  }

  form {
    font-family: var(--font-ddin);

    .control {
      /* float: left; */
      margin-right: 25px;
      display: flex;
      align-items: center;
    }
    .qty-button {
      height: 50px;
      width: 50px;
      background: #fff;
      color: #001422;
      font-size: 30px;
      font-weight: 300;
      border-top: 1px solid #c2c2c2;
      border-bottom: 1px solid #c2c2c2;
    }
    .qty {
      height: 50px;
      width: 50px;
      text-align: center;
      font-size: 2rem;
    }

    button {
      /* width: 100%; */
    }
  }

  .virusDesc {
    /* margin-top: 60px; */
    font-size: 1.5rem;
    color: white;
    /* background-color: #3acda8; */
    background-color: rgba(15, 55, 46, 0.5);
    /* padding: 10px 20px 10px 0px; */
    padding: 20px;
    border: 1px solid var(--primary);
    border-radius: 1rem;
    /* width: 100%; */
    width: 50%;
    line-height: 2rem;
  }

  img {
    width: 60%;
    float: none;
    margin: auto;
    padding: auto;
    text-align: center;
  }
}

.home {
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

h1,
h2 {
  font-family: var(--font-grotesk-gras);
}

h1 {
  text-transform: uppercase;
  /* color: #3acda8; */
  color: white;
  font-size: 8rem;
}

h2 {
  font-size: 3rem;
}

.headerLogo {
  /* background-image: url('/viruses/adenovirus-home.webp');
  background-size: cover; */
  /* height: 300px;
  max-height: 100%; */
  /* position: fixed;
  top: 10px;
  right: 10px;
  height: 300px; */

  h2 {
    position: fixed;
    color: #3acda8;
    text-transform: uppercase;
    top: 30px;
    right: 68px;
    height: 300px;
    span {
      text-transform: capitalize;
    }
  }

  img {
    position: fixed;
    top: -115px;
    right: 50px;
    height: 350px;
    z-index: -1;
    opacity: 0.6;
  }

  /* h2 {
    span {
      text-transform: capitalize;
    }
  } */
}

.total {
  font-family: sans-serif;
  color: white;
}

.virusProductsList {
  padding-top: 60px;
  /* margin: 0; */
  display: flex;
  flex-direction: row;
  /* align-items: start; */
  /* justify-content: left; */
  flex-wrap: wrap;
  /* width: 100%; */
  /* box-sizing: content-box; */
  gap: 3rem;
  /* margin: auto; */
  /* padding-bottom: 60px; */
  /* flex-basis: 15%; */
  align-content: flex-start;
  justify-content: flex-start;
  /* text-align: left; */
}

/* .virusProductsList:first-child {
  display: flex;
} */

.virusItem {
  /* display: flex; */
  /* flex-direction: row; */
  /* vertical-align: bottom; */
  /* justify-content: center; */
  /* border: black solid 2px; */
  border-radius: 30px;
  /* flex-basis: 30%; */
  width: 30%;
  /* aspect-ratio: 3 / 4; */
  /* width: 100%; */
  /* background-size: calc(100% - 60px) auto; */
  /* height: 400px; */
  /* background-position: center bottom 60px; */
  /* background-position: calc(100% - 20px) calc(100% - 10px); */
  /* background-position: right 10px center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: #185d4e;
  /* margin: auto; */
  padding: 10px 0px;
  text-align: center;
  /* position: relative; */
  /* display: inline-block; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center;  */
  /* flex-direction: row; */

  .inner {
    background-size: calc(100% - 60px) auto;
    background-repeat: no-repeat;
    background-position: center bottom 60px;
    /* position: relative; */
    aspect-ratio: 7 / 8;
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: black; */
    /* margin: auto; */
    /* padding: auto; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* justify-content: center; */

    /* justify-items: center; */
    /* align-content: center; */
    /* text-align: center; */
    /* display: block; */
  }

  h2 {
    font-family: var(--font-grotesk-regular);
    /* font-family: var(--font-ddin); */
    font-weight: 300;
    color: #3acda8;
    /* padding: 0px 30px 0px 30px; */
    font-size: 2.5rem;
    /* align-self: flex-start; */
    /* text-transform: uppercase; */
    /* position: relative; */
    /* margin-bottom: 0; */
    /* vertical-align: bottom; */
    /* vertical-align: bottom; */
  }

  img {
    max-height: 100%;
    max-width: 100%;
    /* display: block; */
    /* position: absolute; */
    z-index: 1;
    /* padding: 10px; */
  }

  .itemPrice {
    font-family: var(--font-ddin);
    font-size: 2.3rem;
    /* display: flex; */
    /* align-self: flex-end; */
    color: white;
    /* position: absolute;
    bottom: 0; */
    /* vertical-align: bottom; */
    /* text-align: center; */

    /* position: 0 0; */
    /* vertical-align: bottom; */
    /* color: #0e372e; */
  }
}

/* .virusProducts {
  font-family: var(--font-grotesk-gras);
  color: white;
  padding: 0px 30px 0px 30px;
  font-size: 8rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
  vertical-align: bottom;
} */

.cart {
  border-top: solid #3acda8 1px;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  justify-content: left;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  box-sizing: content-box;
  gap: 20px;

  .info {
    span {
      color: white;
    }
  }
}

button {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  /* background-color: #123456; */
}

.cartItem {
  /* height: 200px; */
  /* padding-bottom: 10px; */
  padding: 0px 0px 10px 10px;
  border-bottom: solid #3acda8 1px;
  gap: 20px;
  img {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    float: left;
  }

  .info {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    /* padding-top: 10px; */
    gap: 5px;
  }
}

.customerInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  input {
    /* border-radius: 10px; */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
